* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/*  NAVIGATION CSS  */

/* Desktop menu logic*/

#project-nav {
    display: none;
}

#project-nav:hover {
    display: flex;
}

#project-link:hover + #project-nav {
    display: flex;
}

/* Mobile menu logic */

.showMobileMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 100vh;
    width: 100vw;
    background-color: white;
    opacity: 100%;
    font-size: 1.875rem;
    line-height: 2.25rem;
    transition: 0.5s;
    animation: ease-in-out;
}

.hideMobileMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 100vh;
    width: 100vw;
    background-color: white;
    opacity: 100%;
    font-size: 1.875rem;
    line-height: 2.25rem;
    transition: 0.5s;
    animation: ease-in-out;
    transform: translateX(100vh);

}

.showAboutMenu {

}

.hideAboutMenu {

}
